//// Default
$defaultText: $mineShaft;
$defaultFill: $white;
$defaultFont: $primaryFont;
$defaultBackground: $white;


//// HEADER
//$headerLinkColor: $white;
$logoColor: $white;
$defaultHeaderBackground: $headerBackgroundEvening;

//DESCRIPTION
$descriptionTitle: $title;

//Button
$defaultButtonColor: $white;
$fontBackgroundButton: $dodgerBlue;


//Font size
$fontTitleSize: $fontBigSize;
$fontDescriptionSize: $fontSmallSize;

//Font color
$fontTitleMarkColor: $dodgerBlue;
$fontBackgroundSectionOdd: $alto;
$fontBackgroundSectionEven: $white;
$colorActive: $white;
$colorHover: $redOrange;
$colorLink: $white;
