//// Default
$defaultText: $ultramarine;
$defaultFill: $moonGlow;
$defaultFont: $secondaryFont;
$defaultBackground: $moonGlow;


//// HEADER
$logoColor: $moonGlow;
$logoPicture: $logoMorning;
$defaultHeaderBackground: $headerBackgroundMorning;

//DESCRIPTION
$descriptionTitle: $title;

//Button
$defaultButtonColor: $moonGlow;
$fontBackgroundButton: $purple;


//Font size
$fontTitleSize: $fontBigSize;
$fontDescriptionSize: $fontSmallSize;

//Font color
$fontTitleMarkColor: $perfume;
$fontBackgroundSectionOdd: $frenchPass;
$fontBackgroundSectionEven: $moonGlow;
$colorActive: $moonGlow;
$colorHover: $ripeLemon;
$colorLink: $moonGlow;
