//// Default
$defaultText: $mineShaft;
//$defaultLink: $flamePea;
$defaultFill: $white;
$defaultFont: $primaryFont;
//
//
//// HEADER
//$headerLinkColor: $white;
//$headerBorderColor: $white;
$logoColor: $white;
//$headerButtonBackgroundColor: $white;
//$headerButtonHoverColor: $white;

//DESCRIPTION
$descriptionTitle: $title;


//Font size
$fontTitleSize: $fontBigSize;
$fontDescriptionSize: $fontSmallSize;
//$fontConsultationSize: $fontSmallSize;

//Font color
$fontTitleMarkColor: $blue;
$fontBackgroundSectionOdd: $alto;
$fontBackgroundSectionEven: $white;
$fontBackgroundButtonActive: $blue;
$colorActive: $white;
