@mixin link {
  a {
    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      color: $colorHover;
    }
    &:active {
      text-decoration: none;
    }
  }
}

@mixin formItem() {
  margin: 5px 0;
  padding: 15px;
  text-align: center;
  background: $fontBackgroundSectionOdd;
  border: none;
  font-weight: 500;

  &[type="text"]::-webkit-input-placeholder {
    color: $defaultText;
  }

  &--active {
    background: $fontBackgroundButton;
    &[type="text"]::-webkit-input-placeholder {
      color: $colorActive;
    }
  }
}

@mixin title_section() {

  &__title {

    &--caption {
      text-transform: uppercase;
      text-align: center;
      font-size: $fontTitleSize;
      font-weight: lighter;
    }

    &--line {
      text-align: center;
    }

  }
}


/*@mixin getRow {
  div[class*="__row"] {
    @include make-row;
  }
};

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
};*/


