@mixin link {
  a {
    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      color: $colorHover;
    }
    &:active {
      text-decoration: none;
    }
  }
}

@mixin formItem() {
  margin: 5px 0;
  padding: 15px;
  text-align: center;
  background: $fontBackgroundSectionOdd;
  border: none;
  font-weight: 500;

  &[type="text"]::-webkit-input-placeholder {
    color: $defaultText;
  }

  &--active {
    background: $fontBackgroundButton;
    &[type="text"]::-webkit-input-placeholder {
      color: $colorActive;
    }
    &[type="submit"] {
      color: $colorActive;
    }
    &[type="submit"]:hover {
      color: $colorHover;
    }
  }
}

@mixin title_section() {
  color: $defaultText;
  &__title {

    &--caption {
      text-transform: uppercase;
      text-align: center;
      font-size: $fontTitleSize;
      font-weight: lighter;

      @media #{$bp-mobile} {
        margin: -25px 0 0;
      }
    }

    &--line {
      color: $fontTitleMarkColor;
      font-weight: 500;
      text-align: center;
      vertical-align: text-bottom;
      position: relative;
      top: -10px;
    }

  }
}

@mixin getRow {
  div[class*="__row"] {
    @include make-row;
  }
}

/*@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
};*/


