body {
  font: 16px/25px $primaryFont !important;
  color: $defaultText;
  box-sizing: border-box;
  @include getRow();
}

// HEADER START
.header {
  @include make-sm-column(12);
  background: $headerBackground;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: $logoColor;
  width: 100%;

  &__nav {
    display: block;

    @media #{$bp-tablet} {
      display: none;
    }

    @media #{$bp-mobile} {
      display: none;
    }

  }

  @media #{$bp-note} {
    font-size: 14px;
  }

  @media #{$bp-tablet} {
    font-size: 12px;
  }

  @media #{$bp-mobile} {
    font-size: 10px;
  }

  &__container {
    width: 100%;
    color: $defaultFill;
    flex-grow: 1;
    line-height: 8;
    margin-top: 80px;
    text-align: center;
  }

  &__phone {
    @include make-sm-column(4);
    @include link ();
    text-align: left;
    float: left;
  }

  &__logo {
    @include make-sm-column-offset(1);
    @include make-sm-column(2);
    @include make-sm-column-offset(1);
    background: url(../images/logo.svg) no-repeat;
    -webkit-text-fill-color: #fff;
    padding: 50px;
    top: 10px;

    @media #{$bp-note} {
      padding: 30px;
    }

    @media #{$bp-tablet} {
      padding: 30px;
    }

    @media #{$bp-mobile} {
      padding: 30px;
    }

  }

  &__call {
    @include make-sm-column(4);
    @include link ();
    text-align: right;
    float: right;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include make-sm-column(12);
    margin-bottom: 30px;
  }

  &__item {
    @include link();
    display: block;
    margin: 20px 0;
    list-style-type: none;
  }

  &__link {
    color: $colorLink;
  }

}

.gamburger {
  display: none;
  float: left;

  &:hover {
    cursor: pointer;
  }

  &__sign {
    @include make-sm-column(2);
    display: block;
  }

  &__string {
    background-color: $colorLink;
    padding: 0 15px;
    font-size: 2px;
    position: relative;

    &:first-child {
      top: 20px;
    }

    &:last-child {
      bottom: 20px;
    }
  }

  @media #{$bp-tablet} {
    display: block;
  }

  @media #{$bp-mobile} {
    display: block;
  }

}

// HEADER END

//ARTICLE
.description {
  @include make-sm-column(12);
  margin: 20px 0;
  background: $fontBackgroundSectionEven;

  @media #{$bp-mobile} {
    margin: 50px 0;
  }

  &__title {
    @include make-sm-column(6);
    text-transform: uppercase;
    font-size: $fontTitleSize;
    font-weight: lighter;
    text-align: left;
    margin: 5% 0;
    line-height: 0.5;

    @media #{$bp-tablet} {
      line-height: 1;
    }

    @media #{$bp-mobile} {
      line-height: 1;
    }

  }

  &__text {
    @include make-sm-column(4);
    margin: 20px 0;
  }

  &__text-bold {
    @include make-sm-column(1);
    font-weight: 500;
    margin: 20px 0;
  }

  &__text-color {
    @include make-sm-column(1);
    color: $fontTitleMarkColor;
    margin: 20px 0;
  }

  &__article {
    @include make-sm-column(6);
    text-align: left;
    margin: 5% 0;

    &__subtitle {
      font-weight: bold;
    }
  }

  &__list {
    padding: 0;
    margin: 30px 0;
  }

  @media #{$bp-note} {
    .description {
      &__title {
        font-size: 36px;
      }
      &__text-bold {
        font-weight: 600;
      }
    }
  }

  @media #{$bp-tablet} {
    .description {
      &__title {
        font-size: 36px;
      }
      &__text-bold {
        font-weight: 600;
      }
    }
  }

  @media #{$bp-mobile} {
    font-size: 12px;
    .description {
      &__title {
        font-size: 36px;
      }
      &__text-bold {
        font-weight: 700;
      }
    }
  }

}

//ARTICLE END

//GALLERY START
.gallery {
  @include make-sm-column(12);
  @include title_section ();
  background: $fontBackgroundSectionOdd;

  @media #{$bp-mobile} {
    margin: 50px 0;
  }

  &__content {
    @include title_section ();
    margin: -48px 0 100px 0;

  }

  &__image {
    width: 100%;
  }

  &__items {
    margin: 60px 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }

  &__note {
    position: absolute;
    bottom: -25px;
    left: 15px;

    &--color {
      color: $fontBackgroundButton;
    }

  }

  &--color {
    color: $fontBackgroundButton;
  }

  &__item {

    &--long {
      @include make-sm-column(8);

    }

    &--medium {
      @include make-sm-column(6);
    }

    &--short {
      @include make-sm-column(4);
    }

  }

  &__button {
    @include link();
    @include make-sm-column(12);
    text-align: center;
    margin: 20px 0 60px 0;;

    &--name {
      padding: 13px 50px;
      text-transform: uppercase;
      font-size: inherit;
      background: $fontBackgroundButton;
      color: $defaultButtonColor;
    }

  }
}
//GALLERY END

//CONSULTATION START
.consultation {
  @include make-sm-column(12);
  @include title_section ();
  background: $fontBackgroundSectionEven;

  @media #{$bp-mobile} {
  margin: 50px 0;
  &__title {
    &--caption {
      margin: -80px 0 0;
    }
  }
}

  &__content {
    margin: -48px 0 100px 0;
  }

  &__container {
    width: $width;
  }

  &__subtitle {
    font-weight: bold;
  }

  &__article {
    @include make-sm-column(6);
    text-align: left;
    float: right;
    margin: 5% 0;
  }

  &__text {
    margin-top: 30px;
    font-size: $fontDescriptionSize;
  }

  &__image {
    width: 100%;
  }

  &__items {
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
  }

  &__form {
    @include make-sm-column-offset(1);
    @include make-sm-column(5);
    margin: 6% 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    @include formItem();
  }
}
//CONSULTATION END

//TESTIMONIALS START
.testimonials {
  @include make-sm-column(12);
  @include title_section ();
  background: $fontBackgroundSectionOdd;

  @media #{$bp-mobile} {
    margin: 50px 0;
  }

  &__content {
    margin: -48px 0 100px 0;
  }

  &__portret {
    margin: 50px 0;
  }

  &__image {
    width: 100%;
  }

  &__note {
    text-align: center;
    font-size: $fontDescriptionSize;
  }

  &__company {
    font-style: italic;
  }

  &__description {
    text-align: center;
  }

  &__items {
    @include make-sm-column-offset(1);
    @include make-sm-column(3);
    position: relative;
    width: 70%;
    margin: 10px auto;

    &:before {
      position: absolute;
      top: 20%;
      left: -10%;
      content: '';
      background: url(../images/quotes.png) no-repeat;
      background-size: cover;
      width: 63px;
      height: 51px;
    }

  }

  @media #{$bp-note} {

    .testimonials__items {
      width: 45%;
      margin-left: 25%;
      &:before {
        top: 35%;
        left: -3%;
      }
    }
  }

  @media #{$bp-tablet} {

    .testimonials__items {
      width: 50%;
      margin-left: 25%;
      &:before {
        top: 25%;
        left: -10%;
      }
    }
  }

  @media #{$bp-mobile} {

    .testimonials__items {
      width: 55%;
      margin-left: 25%;
      &:before {
        top: 20%;
        left: -8%;
      }
    }
  }

}
//TESTIMONIALS END

//CONTACT START
.contact {
  @include make-sm-column(12);
  @include title_section ();
  background: $fontBackgroundSectionEven;

  @media #{$bp-mobile} {
    margin: 50px 0;
    &__title {
      &--caption {
        margin: -80px 0 0;
      }
    }
  }

  &__content {
    margin: -48px 0 100px 0;
  }

  &__information {
    @include make-sm-column(6);
    margin: 6% 0;
    font-size: $fontDescriptionSize;
    font-weight: 500;
  }

  &__email {
    margin-bottom: 20px;
  }

  &__phone {
    margin-bottom: 20px;
  }

  &__address {
    margin-bottom: 20px;
  }

  &__item {
    @include formItem();

    &--message {
      height: 200px;
    }

  }

  &__form {
    @include make-sm-column-offset(1);
    @include make-sm-column(5);
    margin: 6% 0;
    display: flex;
    flex-direction: column;
  }
}
//CONTACT END

//FOOTER START
.footer {
  @include make-sm-column(12);
  background: $footerBackground;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;

  &__container {
    color: $defaultFill;
    flex-grow: 1;
    line-height: 8;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: $fontSmallSize;
  }

  &__logo {
    @include make-sm-column(2);
    background: url(../images/logo.svg) no-repeat;
    -webkit-text-fill-color: #fff;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 300px auto;
  }

  &__copyright {
    @include make-sm-column(4);
    text-align: center;
    margin: 0 auto;
    font-size: $fontSmallSize;
  }

}

//FOOTER END

