body {
  font: 14px/25px $primaryFont !important;
  color: $defaultText;
  box-sizing: border-box;
}

// HEADER START
.header {
  @include make-md-column(12);
  background: $headerBackground;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: $logoColor;

  &__container {
    @include make-md-column-offset(1);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    width: $width;
    position: relative;
    color: $defaultFill;
    flex-grow: 1;

    &--head {
      display: flex;
      justify-content: center;
      margin: 5% auto;
      line-height: 10;
    }

  }

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    width: 100%;

    &--logo {
      @include make-md-column(2);
      text-align: center;
      background: url(../images/logo.svg) no-repeat;
      padding: 50px;
      -webkit-text-fill-color: #fff;
    }

    &--phone {
      @include make-md-column(4);
      text-align: left;
      display: inline;
    }

    &--note {
      @include make-md-column(4);
      text-align: right;
      display: inline;
    }

  }

  &__nav {
    width: 100%;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  &__item {
    @include link();
    display: block;
    margin: 0 20px 10px 0;
    list-style-type: none;
  }

  &__link {
    color: $colorLink;
  }

}

// HEADER END

//ARTICLE
.description {
  margin: 20px 0;
  background: $fontBackgroundSectionEven;

  &__container {
    width: $width;
  }

  &__title {
    @include make-md-column(4);
    text-transform: uppercase;
    font-size: $fontTitleSize;
    margin: 5% 0;

    &--row {
      text-align: left;
    }

    &--color {
      color: $fontTitleMarkColor;
    }

  }

  &__article {
    @include make-md-column(5);
    text-align: left;
    float: right;
    margin: 5% 0;

    &__title {
      font-weight: bold;
    }
  }

  &__list {
    padding: 0;
    margin: 30px 0;
  }

}

//ARTICLE END

//GALLERY START
.gallery {

  @include title_section ();
  background: $fontBackgroundSectionOdd;

  &__content {

    @include title_section ();
    margin: -45px 0 100px 0;

  }

  &_image {
    width: 100%;
  }

  &__items {
    margin: 60px 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;

    &__note {
      position: absolute;
      bottom: -25px;
      left: 30px;
    }

    &__note1 {
      color: $fontBackgroundButton;
    }
  }

  &__item {

    &--long {
      @include make-md-column(8);

    }

    &--medium {
      @include make-md-column(6);
    }

    &--short {
      @include make-md-column(4);
    }

  }

  &__button {
    @include link();
    @include make-md-column(12);
    text-align: center;
    margin-top: 20px;

    &__view--all {
      padding: 13px 50px;
      text-transform: uppercase;
      font-size: inherit;
      background: $fontBackgroundButton;
      color: $defaultButtonColor;
    }

  }
}

//GALLERY END

//CONSULTATION START
.consultation {

  @include title_section ();
  background: $fontBackgroundSectionEven;

  &__content {
    margin: -45px 0 100px 0;
  }

  &__container {
    width: $width;
  }

  &__article {
    @include make-md-column(6);
    text-align: left;
    float: right;
    margin: 5% 0;

    &__title {
      font-weight: bold;

      &--row {
        text-align: left;
      }
    }

    &--content {
      font-size: $fontDescriptionSize;
    }
  }

  &_image {
    width: 100%;
  }

  &__items {
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
  }

  &__form {
    @include make-md-column-offset(1);
    @include make-md-column(5);
    margin: 6% 0;
    display: flex;
    flex-direction: column;

    &__item {
      @include formItem();
    }

  }
}

//CONSULTATION END

//TESTIMONIALS START
.testimonials {

  @include title_section ();
  background: $fontBackgroundSectionOdd;

  &__content {
    margin: -45px 0 100px 0;
  }

  &__portret {
    margin: 50px 0;
  }

  &_image {
    width: 100%;
  }

  &__items {
    @include make-md-column-offset(1);
    @include make-md-column(3);
    position: relative;
    width: 70%;
    margin: 10px auto;

    &:before {
      position: absolute;
      top: 30%;
      left: -5%;
      content: '';
      background: url(../images/quotes.png) no-repeat;
      width: 40px;
      height: 40px;
    }

    &__note {
      text-align: center;
    }

    &__description {
      text-align: center;
    }

  }

}

//TESTIMONIALS END

//CONTACT START
.contact {

  @include title_section ();
  background: $fontBackgroundSectionEven;

  &__content {
    margin: -45px 0 100px 0;
  }

  &__information {
    @include make-md-column(6);
    margin: 6% 0;
    font-size: $fontDescriptionSize;
  }

  &__form {
    @include make-md-column-offset(1);
    @include make-md-column(5);
    margin: 6% 0;
    display: flex;
    flex-direction: column;

    &__item {
      @include formItem();

      &--message {
        height: 200px;
      }

      &--text {
        position: relative;
        bottom: 185px;
        height: 0.5px;
        margin: 0 auto;
      }

    }

  }
}

//CONTACT END

//FOOTER START
.footer {
  @include make-md-column(12);
  background: $footerBackground;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: $logoColor;

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__content {
    @include make-md-column(12);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $defaultFill;
    flex-grow: 1;

    &--logo {
      @include make-md-column(2);
      /*text-align: center;*/
      background: url(../images/logo.svg) no-repeat;
      padding: 50px;
      -webkit-text-fill-color: #fff;
    }
  }

  &__copyright {
    @include make-md-column(12);
    text-align: center;
    margin-bottom: 80px;
    margin-left: -15px;
    font-size: $fontSmallSize;
  }

}

//FOOTER END

