@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i);

@font-face {
  font-family: "themify";
  src: url(../fonts/themify/themify.ttf),
  url(../fonts/themify/themify.woff),
  url(../fonts/themify/themify.eot);
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/ubuntu/ubuntu.ttf),
  url(../fonts/ubuntu/ubuntu.woff),
  url(../fonts/ubuntu/ubuntu.eot);
}
