//Global
$headerBackground: url(../images/header_background.jpg);
$footerBackground: url(../images/footer_img.jpg);
$width: 1260px;

// Colors
// ======
// Named via http://chir.ag/projects/name-that-color/
$crimson: #c41230;
$thunderbird: #8b0d22;
$mineShaft: #333;
$silver: #bfbfbf;
$whiteRock: #efebe0;
$alabaster: #f8f8f8;
$white: #fff;
$flamePea: #db623c;
$ripeLemon: #f3cf1e;
$apple: #3a943a;
$funGreen: #00794a;
$kaitokeGreen: #004027;
$black: #000;
$tango: #f17519;
$redOrange: #ff3c1f;
$alto: #dfdfdf;
$thunder: #262526;
//$blue: #0ea2f1;
$dodgerBlue: #0ea2f1;
$silverSand: #c7c9cc;
$grayChateau: #a2a4a7;
$grayWithOpacity: rgba(128, 128, 128, .5);
$nevada: #6d6f72;

//Typography
$primaryFont:  "Ubuntu";
$secondaryFont: "Open Sans";
//$iconFont: "themify";
$title: "Miami best  Realry—  this";

//Font size
$fontBigSize: 48px;
$fontSmallSize: 18px;

// Breakpoints.
/*$breakpoints: (
        xs: 576px,
        sm: 768px,
        md: 992px,
        lg: 1200px
);*/
//$bp-mobile-minus    : "screen and (max-width: 380px)";
$bp-mobile          : "screen and (max-width: 679px)";
$bp-tablet         : "screen and (min-width: 680px) and (max-width: 959px)"; //10f-s
$bp-note          : "screen and (min-width: 960px) and (max-width: 1240px)"; //12font-size
$bp-desktop         : "screen and (min-width: 1241px)";
//$bp-widescreen      : "screen and (min-width: 1680px)";

