//// Default
$defaultText: $ultramarine;
$defaultFill: $moonGlow;
$defaultFont: $secondaryFont;
$defaultBackground: $RiceFlower;


//// HEADER
$logoColor: $RiceFlower;
$logoPicture: $logoMorning;
$defaultHeaderBackground: $headerBackgroundMorning;
$headerItemColor: $RiceFlower;

//DESCRIPTION
$descriptionTitle: $title;
$backgroundTitle: $perfume;

//Button
$defaultButtonColor: $RiceFlower;
$fontBackgroundButton: $purple;


//Font size
$fontTitleSize: $fontBigSize;
$fontDescriptionSize: $fontSmallSize;

//Font color
$fontTitleMarkColor: $perfume;
$fontBackgroundSectionOdd: $TitanWhite;
$fontBackgroundSectionEven: $RiceFlower;
$colorActive: $RiceFlower;
$colorHover: $ripeLemon;
$colorLink: $RiceFlower;
