//@import url(http://fonts.googleapis.com/css?family=Ubuntu);
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600);
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i);

@font-face {
  font-family: 'Ubuntu Evening';
  font-style: normal;
  src: url(../../fonts/ubuntu/Ubuntu-R.ttf);
}

@font-face {
  font-family: 'Ubuntu Morning';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/ubuntu/Ubuntu-L.ttf);
}

